@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

*{
  margin: 0;
  padding: 0;
}


body {
  font-family: Helvetica, Arial , sans-serif;
  color : #333;
  background-color: #eee;
}

.navBar{
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-color: rgb(0,139,253);
  align-items: stretch;
  font-size: 20px;
}

.navBar > a{
    margin: auto;
    text-decoration: none;
    font-family: Helvetica , sans-serif;
    font-size: 1.0em;
    color: #fff;
}


.playerHolder{
    margin-top: 5%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@media (min-width: 500px){
  .navBar > a {
    text-decoration: none;
    font-family: Helvetica;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2.5em;
  }
  .playerHolder{
    margin-top: 0%;
  }


}

.searchRoot{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.searchBar{
  display: flex;
  background-color: rgb(0,139,253);
  padding: 10px;
  border-radius: 3em;

}

.searchWrapper{
  background-color: #eee;
  padding: 10px;
  border-radius: 3em;

}



.searchWrapper > * {
  font-size: 2em;
  color: #333;
}


.searchWrapper > input {
  background-color: transparent;
  border: none;
  outline: none;
}

.searchWrapper > i {
  color: #333;
  transition: 1s;
}

.searchWrapper > i:hover {
  color: rgb(0,139,253);
}








